.card {
    
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    gap: 20px;
    display: grid;
    padding: 70px 30px;
}

.card:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card_header {
    padding: 16px;
    font-size: 1.25rem;
    display: grid;
    gap: 5px;
}

.card_body {
    padding: 16px;
    font-size: 1rem;
    color: #333;
}

.cardfooter {
    padding: 16px;
    text-align: right;
}
.escuro{
    background-color: #393838;
    color: white;
}
.claro{
    background-color: white;
    color: black;
}
.escuro p{
    color: white;
}
.escuro:hover{
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 8px 16px rgba(245, 245, 245, 0.2);
    background-color: #feb633;
}